<div class="container productList">
    <div class="row">
        <button class="btn btn-default" ng-click="list.displayNumber()">{{list.showNumberLabel}}</button>
    </div>
    <div class="row">
        <select multiple class="form-control" ng-model="list.selectedCategory" ng-change="list.categoryUpdate()">
            <option ng-repeat="cat in list.category">{{cat}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col-md-3 productBox" ng-repeat="item in list.data">
            <div><img class="center-block" ng-src="{{list.imgUrl + item.image}}"></div>
            <h4 ng-show="list.showNumber">{{item.value}}</h4> {{item.name}}
        </div>
    </div>
</div>
