div.productList {
    div.productBox {
        border-right: 1px dotted grey;
        margin-bottom: 1em;
        padding: 1em;
        div {
            min-height: 15em;
        }
        &:nth-child(4n) {
            border-right: none;
        }
    }
    div.row {
        margin-bottom: 2em;
    }
    img {
        max-width: 100%;
        max-height: 15em;
    }
}
