div.productList div.productBox, div.quizList div.productBox { border-right: 1px dotted grey; margin-bottom: 1em; padding: 1em; }

div.productList div.productBox div, div.quizList div.productBox div { min-height: 15em; }

div.productList div.productBox:nth-child(4n), div.quizList div.productBox:nth-child(4n) { border-right: none; }

div.productList div.row, div.quizList div.row { margin-bottom: 2em; }

div.productList select, div.quizList select { height: 10em; }

div.productList img, div.quizList img { max-width: 100%; max-height: 15em; margin-bottom: 1em; }

div.quizList div.productBox div.answerContainer { min-height: 1em; }

div.quizList div.productBox div.answerContainer input { margin-top: 1em; }
